body {
	background: #f9e933;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
	overflow: auto;
	border: 2px dashed blue;
}

header {
	background: white;
	overflow: auto;
}

header .container h1 {
	float: left;
	width: 570px;
}

header .container nav {
	float: right;
	width: 285px;
}

main {
	background: white;
	overflow: auto;
}

main .mainleftcolumn {
	float: left;
	width: 570px;
}

main .mainrightcolumn {
	float: right;
	width: 275px;
}

