* {
	margin: 0;
	padding: 0;
}

body {
	width: 855px;
	margin: auto;
	background: ivory;
	font-size: 100%;
	font-family: sans-serif;
}

header {
	overflow: auto;
	border-bottom: 5px solid lightgray;
}

h1 {
	float: left;
	width: 285px;
}

header p {
	float: right;
	width: 570px;
	font-style: italic;
	margin-top: 10px;
}

main {
	overflow: auto;
	padding: 30px;
	border-bottom: 5px solid gray;
}

.comments-input {
	float: left;
	width: 285px;
}

.comments {
	float: right;
	width: 570px;
}

.comments p: {
	border-radius: 1px;
}

.comments p:nth-child(even) {
	background: lavender;
}

.comments p:nth-child(odd) {
	background: gainsboro;
}


footer {
	font-size: 75%;
	margin-top: 5px;
	border-top: 1px darkslategray;

}