extends layout

block content
	div(class="team container")
		h2 The Team
		ul
			li Bruna Cruz - bacc@csu.fullerton.edu
			li Eric Donaldson - zaephor@csu.fullerton.edu
			li Kathy Saad - ksaad@csu.fullerton.edu
			li Jhonny Castrillon - jhonnycastrillon@csu.fullerton.edu
			li Mario Andrade - ziosrighthandman@csu.fullerton.edu
			li Sumit Jangid - sumit.jangid@csu.fullerton.edu

		p We are all Computer Science students. If you have interest in our project, feel free to contact us.


	div(class="contact-us container")
		h3 Company Location
		p Hangdog Happenstance
		p 800 N State College Blvd
		p Suite: CS473
		p Fullerton, CA 92831
		p Phone: 657-555-1234
