extends layout

block content
	div(class="container")
		div(class="col-md-5")
			h2 What do we do?
			p We help you to connect with other people with similar interests with you. The Hangdog Happenstance suggest friends for you to meet based what you both like. On our website, you are able to find people and talk to people that like the same stuff that you do!
			h2 How to create an account?
			p Click on register, pick a valid username, email and password, choose the status and role and you are all set to be part of the Hangdog Happenstance.
			h2 What is the url to the login page?
			p Just follow this link 
				a(href="http://localhost:3000/login") here
		div(class="col-md-7")
			<!-- Image taken from: http://jonmell.co.uk/find-people-you-need/ using Google Search --> 
			img(src="/images/find-people.jpg", alt="connecting people", width="420", height="480")
