body {
	background: #f9e933;
	font-family: 'Droid Sans', sans-serif;
	font-size: 100%;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
}

header {
	background: white;
	overflow: auto;
	border-bottom: 2px solid lightgray;
}

header .container h1 {
	float: left;
	width: 570px;
	margin-top: 10px;
	margin-bottom: 30px;
}

header .container nav {
	float: right;
	width: 285px;
	margin-top: 15px;
}

main {
	background: white;
	overflow: auto;
}

.mainleftcolumn {
	float: left;
	width: 570px;
	margin-bottom: 20px;
}

.mainrightcolumn {
	float: right;
	width: 285px;
}

footer {
	overflow: auto;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .sitemap {
	float: right;
	width: 285px;
}

.leftlist {
	float: left;
}

.rightlist {
	float: right;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu';
	font-weight: bold;
}

h1 {
	font-size: 3.00em;
}

h2 {
	font-size: 1.75em;
}

h3 {
	font-size: 1.50em;
}

h4 {
	font-size: 1.25em;
}

h5 {
	font-size: 1.00em;
}

h6 {
	font-size: 0.75em;
}

.headers {
	margin-top: 50px;
	margin-bottom: 10px;
}

.question {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 2px;
}

a{
	color: red;
	text-decoration: none;
}

.amazeriffic {
	color: maroon;
	font-style: italic;
}

a {
	color: red;
	text-decoration: none;
}

a:visited {
	color: red;
	text-decoration: underline;
}

a:hover {
	color: cornflowerblue;
	text-decoration: underline;
}